*,
::before,
::after {
    line-height: calc(1em + 0.5rem);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, Arial;
    color: white;
    background: black;
    overflow: hidden;
}


img, picture,video,canvas,svg {
    display: block;
    max-width: 100%;
    user-select: none;
}



