.machine-problem {
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    /*left: 0;*/
    width: 100%;
    background: #0b0d26;
    transition: .8s ease-in-out;
    filter: blur(30px);
    transition-delay: .25s;
    z-index: 100;
    /*background: seagreen;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.machine-problem.active {
    filter: blur(0);
    left:0;
}

.quiz-box-machine-problem div button {
    box-shadow: none;
    border-radius: 8px;
    padding: 10px 30px;
}

.quiz-box-machine-problem div button:first-child:hover {
    background: var(--clr-dark-sky-blue);
}

.quiz-box-machine-problem div button:last-child:hover {
    background: var(--clr-dark-sky-blue);
}

.answer-machineProb.correct {
    border: 1px solid #8cff00;
}

.answer-machineProb.wrong {
    border :2px solid darkred;
}

/*.back-button-machine-problem {*/
/*    opacity: 1;*/
/*    pointer-events: auto;*/
/*}*/

.back-button-machine-problem.hide {
    opacity: 0;
    pointer-events: none;
}

/*.next-button-machine-problem {*/
/*    display: none;*/
/*}*/

/*.next-button-machine-problem.active {*/
/*   display: block;*/
/*}*/

/*.verify-button-machine-prob {*/
/*    display: none;*/
/*}*/

/*.verify-button-machine-prob.active {*/
/*    display: block;*/
/*}*/



