:root {
    --clr-white: #fff;
    --clr-sky-blue: #00b0f9;
    --clr-dark-sky-blue: #00426c;
    --clr-shadow: #09001d;
    --clr-black: #333;
    --clr-gray: #7b8a9d;
}

.button {
    padding: 13px 35px;
    background: var(--clr-sky-blue);
    border-radius: 15px;
    border: 2px solid var(--clr-sky-blue);
    outline: none;
    font-family: Poppins, Arial, serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--clr-white);
    box-shadow: 0 2px 10px var(--clr-sky-blue);
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    border: 2px solid var(--clr-sky-blue);
    background: transparent;
    box-shadow: none;
    color: var(--clr-white);
}

